.css-lvo59x-MuiSlider-rail {
  background-color: #dadada !important;
}

.css-u4tvz2-MuiFormLabel-root {
  color: #4b1ea3 !important;
  font-weight: 500 !important;
  font-size: 1rem !important;
}
.css-ahj2mt-MuiTypography-root {
  color: #4b1ea3;
}

.css-vqmohf-MuiButtonBase-root-MuiRadio-root.Mui-checked {
  color: #4b1ea3 !important;
}

.buybtn {
  background-color: rgb(248, 68, 100) !important;
}

.buybtn:hover {
  background-color: rgb(232, 39, 74) !important;
}
